# Amazon Food Reviews

In [4]:
import pandas as pd

In [5]:
amazon_foodreview = pd.read_csv(r"D:\data set\Amazon Food Reviews.csv")

In [6]:
amazon_foodreview.shape

(568454, 10)

In [7]:
amazon_foodreview=amazon_foodreview.sample(frac=1)

In [8]:
amazon_foodreview.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
403141,403142,B002ANABN6,A2QJF1B00I7BT7,iluvadeal,0,0,5,1299110400,My cats love it!,It's great to find a grain free product that i...
452365,452366,B001ELL68Y,A1DH4TTWTG9ZJL,S. Awajuk,0,0,2,1296259200,Tully's Kona,My husband and I love the other blends of Tull...
425204,425205,B006H32VYC,A3IKZU52IAXVI9,C. H. Walker,1,1,5,1190160000,Tasty and Good for You!,This is the perfect morning perk me up. The t...
247769,247770,B0015Q8VAE,A2VC58DBBKPKEZ,Hannah R. Kuhn,0,0,5,1329955200,Best Cereal,I've been eating Swiss Muesli for over 30 year...
395567,395568,B0006ZN4WU,A1BU9GLN6UEFG1,Gloria,12,13,5,1154649600,SUPER FAST SERVICE-HONEYVILLE GRAIN INC is a g...,Recently on a new diet (that works) - Cannot e...

In [9]:
amazon_foodreview=amazon_foodreview.iloc[0:350000,:]

In [10]:
amazon_foodreview.shape

(350000, 10)

In [11]:
amazon_foodreview.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
403141,403142,B002ANABN6,A2QJF1B00I7BT7,iluvadeal,0,0,5,1299110400,My cats love it!,It's great to find a grain free product that i...
452365,452366,B001ELL68Y,A1DH4TTWTG9ZJL,S. Awajuk,0,0,2,1296259200,Tully's Kona,My husband and I love the other blends of Tull...
425204,425205,B006H32VYC,A3IKZU52IAXVI9,C. H. Walker,1,1,5,1190160000,Tasty and Good for You!,This is the perfect morning perk me up. The t...
247769,247770,B0015Q8VAE,A2VC58DBBKPKEZ,Hannah R. Kuhn,0,0,5,1329955200,Best Cereal,I've been eating Swiss Muesli for over 30 year...
395567,395568,B0006ZN4WU,A1BU9GLN6UEFG1,Gloria,12,13,5,1154649600,SUPER FAST SERVICE-HONEYVILLE GRAIN INC is a g...,Recently on a new diet (that works) - Cannot e...

In [12]:
amazon_foodreview.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [13]:
amazon_foodreview=amazon_foodreview.drop(columns={'Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator','Time', 'Summary'},axis=1)

In [14]:
amazon_foodreview.head()

        Score                                               Text
403141      5  It's great to find a grain free product that i...
452365      2  My husband and I love the other blends of Tull...
425204      5  This is the perfect morning perk me up.  The t...
247769      5  I've been eating Swiss Muesli for over 30 year...
395567      5  Recently on a new diet (that works) - Cannot e...

In [15]:
amazon_foodreview.Score.value_counts()

5    223358
4     49632
1     32243
3     26272
2     18495
Name: Score, dtype: int64

In [16]:
amazon_foodreview.Score.replace({2:1,3:2,4:3,5:3},inplace=True)

In [17]:
amazon_foodreview.Score.value_counts()

3    272990
1     50738
2     26272
Name: Score, dtype: int64

In [18]:
import nltk
from nltk.corpus import stopwords
import string

In [19]:
import spacy
import en_core_web_sm
lang=spacy.load('en_core_web_sm')

In [20]:
def text_process(mess):            ### creating a function
    """                                                        ## a docstring
    1. remove the punctuation
    2. remove the stopwords
    3. return the list of clean textwords
    
    """
    nopunc = [char for char in mess if char  not in string.punctuation]
    nopunc = "".join(nopunc)
    
    return [ word for word in nopunc.split() if word not in lang.Defaults.stop_words]

In [21]:
amazon_foodreview.Text=amazon_foodreview.Text.str.lower()

In [22]:
amazon_foodreview

        Score                                               Text
403141      3  it's great to find a grain free product that i...
452365      1  my husband and i love the other blends of tull...
425204      3  this is the perfect morning perk me up.  the t...
247769      3  i've been eating swiss muesli for over 30 year...
395567      3  recently on a new diet (that works) - cannot e...
...       ...                                                ...
425307      3  this is a great gift item for a great price. i...
66357       3  this is the best drinking chocolate i have had...
338059      3  our cat goes bananas over these treats!  he wi...
22302       1  as an ex new yorker, i've had fond memories of...
348783      3  once upon a time, one of my friends and i woul...

[350000 rows x 2 columns]

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
bow_transformer = CountVectorizer(analyzer=text_process).fit(amazon_foodreview['Text'])
Text_bow = bow_transformer.transform(amazon_foodreview.Text)
from sklearn.model_selection import train_test_split
df_x_train,df_x_test,df_y_train,df_y_test = train_test_split(Text_bow,amazon_foodreview.Score ,test_size=.2)

In [24]:
print(df_x_train.shape)
print(df_y_train.shape)
print(">......<")
print(df_x_test.shape)
print(df_y_test.shape)

(280000, 185547)
(280000,)
>......<
(70000, 185547)
(70000,)

In [25]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(df_x_train,df_y_train)

MultinomialNB()

In [26]:
pred=nb.predict(df_x_test)

In [27]:
from sklearn.metrics import confusion_matrix
tab=confusion_matrix(df_y_test,pred)
tab

array([[ 6349,   469,  3383],
       [ 1024,  1024,  3237],
       [ 1938,   944, 51632]], dtype=int64)

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(df_y_test,pred)

0.8429285714285715

In [29]:
from sklearn.tree import DecisionTreeClassifier 
dt=DecisionTreeClassifier()
dt.fit(df_x_train,df_y_train)
pred_dt=dt.predict(df_x_test)
tab_dt=confusion_matrix(df_y_test,pred_dt)
tab_dt

array([[ 6541,   541,  3119],
       [  752,  2280,  2253],
       [ 2422,  1467, 50625]], dtype=int64)

In [30]:
acc_dt=accuracy_score(df_y_test,pred_dt)
acc_dt

0.8492285714285714

In [31]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=50)
rfc.fit(df_x_train,df_y_train)
pred_rfc=rfc.predict(df_x_test)
tab_rfc=confusion_matrix(df_y_test,pred_rfc)
tab_rfc

array([[ 5096,     8,  5097],
       [  113,  1832,  3340],
       [  121,     5, 54388]], dtype=int64)

In [32]:
acc_rfc=accuracy_score(df_y_test,pred_dt)
acc_rfc

0.8492285714285714

In [33]:
from sklearn.ensemble import AdaBoostClassifier
adb=AdaBoostClassifier()
adb.fit(df_x_train,df_y_train)
pred_adb=adb.predict(df_x_test)
tab_abd=confusion_matrix(df_y_test,pred_adb)
tab_abd

array([[ 3459,   142,  6600],
       [  672,   208,  4405],
       [ 1171,   218, 53125]], dtype=int64)

In [38]:
acc_abd=accuracy_score(df_y_test,pred_adb)
acc_abd

0.8113142857142858

In [ ]:
from wordcloud import WordCloud 
import matplotlib.pyplot as plt

In [ ]:
cloud  = WordCloud(stopwords = stopwords.words("english"), max_words= 50).generate(str(amazon_foodreview['Text']) )
plt.figure(figsize=(10 , 10)) 
plt.imshow(cloud)